/* Intro Section */

body{
    width: 100vw;
    height: 100vh;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16em 0; 
    font-family: Inter, sans-serif;
    font-size: 4px;
}

.intro-container{
    text-align: center;
}

.norm{
    background: #9debb2;
}
.hold{
    background: transparent;
}


/*
=============== 
Global Text Styles
===============
*/

h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0.321em;
    color: #293264;
    font-family: 'Karla', sans-serif;
}
p{
    font-size: 1.2rem;
    color: #293264;
    margin-bottom: 1em;
}


/*
=============== 
Classes
===============
*/

.welcome-btn{
    width: 193px;
    height: 52px;
    background: rgb(77, 91, 158);
    border-radius: 15px;
    border: 2.5px solid black;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
.welcome-btn:hover{
    background: rgba(77, 91, 158, 0.6);
}



.container-div{
    margin: 0 auto;
    margin-top: 8em;
    padding: 8em;
}



/*
=============== 
Quiz Section
===============
*/


section{
    margin: 0 auto;
    max-width: 750px;
    text-align:left;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #293264;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin: auto;
}

section > p{
    margin-bottom: 0.41rem;
}
section > h3{
    margin-bottom: 0.41rem;
    margin-top: 0.41rem;
}
section > hr{
    margin-bottom: 0.9rem;
}

button {
    padding: 0.5rem  1rem;
    border-radius: 9.94239px;
    border: 1.5px solid #293264;
    margin-right: 1.5em;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #293264;
    font-weight: 700;
    cursor: pointer;
}


section > button:hover{
    background-color: #a5acd380;
}
.check-btn{
    margin: 0 auto;
}


.quiz-container{
    text-align: center;
}